/* colors -> https://coolors.co/e54b4b-ebebd3-464655-e4b363-e8e9eb */

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

html {
    font-size: 0.75rem;
    padding: 0;
    line-height: 1.2;
}

body {
    font-size: 1rem;
    background: #F0F8EA;
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/* global rules*/
.container-global {
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}


.container {
    width: 80%;
    /*padding-left: 50px;*/
    margin: 0 auto;
    overflow: hidden;
}

#nes-letter .container h1 {
    text-align: center;
}

header {
    min-height: 40px;
    background-color: #35424a;
    color: #fff;
    padding: 1em 0;
    position: relative;
    border-bottom: 3px solid #e8491d;
}

header::after {
    content: '';
    clear: both;
    display: block;
}

.site-logo {
    margin-top: 7px
}

.logo {
    float: left;
    font-size: 1.6rem;
    margin: 0;
    text-transform: uppercase;
}

h1.logo>a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.logo span a {
    color: #e8491d;
    font-weight: bold;
    text-decoration: none;
}

.site-nav {
    position: absolute;
    top: 100%;
    right: 0%;
    background: #35424a;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 700ms;
    /*   display: none; */
}

.site-nav--open {
    clip-path: circle(250% at top right);
    /*   display: block; */
}

.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav li {
    border-bottom: 1px solid #575766;
    margin-top: 4px;
}

.site-nav li:last-child {
    border-bottom: none;
}

.site-nav a {
    color: #EBEBD3;
    display: block;
    padding: 2em 4em 2em 1.5em;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
    background: #E4B363;
    color: #e8491d;
    ;
}

.site-nav--icon {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255, 255, 255, .4);
}

.menu-toggle {
    padding: 1em;
    position: absolute;
    top: 0.8em;
    right: .5em;
    cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    background: #EBEBD3;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.open .hamburger {
    transform: rotate(45deg);
}

.open .hamburger::before {
    opacity: 0;
}

.open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
}

/*  end hamburger   */

/* showcase section */
#showcase {
    min-height: 350px;
    padding-top: 3.5vh;
    padding-bottom: 3.5vh;
    background: url('../img/bg-coffee.jpg') no-repeat 0 -400px;
    text-align: center;
    color: #fff;
    border-bottom: 3px solid #e8491d;
}

#showcase h1 {
    margin-bottom: 35px;
    font-size: 2.5rem;
}

#showcase p {
    font-size: 1.3rem;
}

/* end showcase section */

/* newsletter section */
#newsletter {
    padding: 5px;
    color: #FFF;
    background: #35424a;
}

#newsletter p {
    font-size: 2.5vh;
    text-align: center;
}

.tel {
    color: #fff;
    background: #35424a;
}

/* newsletter section */

/* boxes section */

#boxes {
    background-color: #DAE4E5;
    padding-top: 4em;
    padding-bottom: 4em;
}

#boxes .container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    justify-content: space-evenly;
    align-content: center;
    width: 90%;
}

#boxes h1 {
    grid-column: 1 / -1;
    font-size: 2.5rem;
    text-align: center;
    color: #35424a;
    margin: 0;
}

#boxes h2 {
    color: #35424a;
    padding-top: 5px;
    padding-bottom: 10px;
}

.box {
    text-align: center;
}

.box img {
    width: 170px;
    margin-left: 15px;

}


.box p {
    color: grey;
    font-style: italic;
    font-size: 1.3em;
    text-align: right;
}

.box a {
    display: block;
    color: #58595B;
    font-style: italic;
    font-size: 1.2em;
    text-decoration: none;
}

.box a:hover {
    color: #414042;
}

/* end boxes section */

/*#page figure .content .content-img {
    margin-left: -10px;
    margin-right: 50px;
}
*/
/* page pages section */
#page {
    background-color: #DAE4E5;
}

#page .container {
    align-content: center;
    width: 95%;
    padding-bottom: 25px;
}

#page .info-img {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#page .info-part img {
    max-width: 90%;
}

#page h1 {
    font-size: 2.5rem;
    text-align: center;
    color: #35424a;
    margin-bottom: 25px;
}

#page h2 {
    font-size: 1.9rem;
    text-align: center;
    color: #35424a;
    margin-bottom: 35px;
}

#page figure img {
    float: left;
    width: 300px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#page .content p {
    color: grey;
    font-size: 1.3em;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
}

#page p.italic {
    font-style: italic;
}

#page .page-paragraph-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#page a {
    color: #e8491d;
    font-weight: bold;
    text-decoration: none;
}

/* end pages section */

article.main-col {
    float: left;
    width: 65%;
}

article .page-title {
    text-align: center;
    font-size: 20px;
    letter-spacing: 6px;
    color: cadetblue;
}

/* footer section */
footer {
    padding: 8px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    background: #e8491d;
}

/* footer ends */

/* media query */

/*  media 750 px  */
@media (min-width: 750px) {

    .menu-toggle {
        display: none;
    }

    .site-nav {
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        clip-path: initial;
    }

    .site-nav li {
        display: inline-block;
        border: none;
    }

    .site-nav a {
        padding: 0;
        margin-left: 3em;
    }

    .site-nav a:hover,
    .site-nav a:focus {
        background: transparent;
    }

    .site-nav--icon {
        display: none;
    }

    #showcase h1 {
        margin-bottom: 35px;
        font-size: 3rem;
    }

}

/* end media 750 px  */

/*  media 800 px  */

@media (min-width: 80px) {

    .gati-full-info {
        display: none;
    }
}